<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>spinner_1</string>
	<string>spinner_2</string>
	<string>spinner_3</string>
	<string>spinner_4</string>
	<string>spinner_5</string>
	<string>spinner_6</string>
	<string>spinner_7</string>
	<string>spinner_8</string>
	<string>spinner_9</string>
	<string>spinner_10</string>
	<string>spinner_11</string>
	<string>spinner_12</string>
	<string>spinner_13</string>
	<string>spinner_14</string>
	<string>spinner_15</string>
	<string>spinner_16</string>
	<string>spinner_17</string>
	<string>spinner_18</string>
	<string>spinner_19</string>
	<string>spinner_20</string>
	<string>spinner_21</string>
	<string>spinner_22</string>
	<string>spinner_23</string>
	<string>spinner_24</string>
	<string>spinner_25</string>
	<string>spinner_26</string>
	<string>spinner_27</string>
	<string>spinner_28</string>
	<string>spinner_29</string>
	<string>spinner_30</string>
	<string>spinner_31</string>
	<string>spinner_32</string>
	<string>spinner_33</string>
	<string>spinner_34</string>
	<string>spinner_35</string>
	<string>spinner_36</string>
	<string>spinner_37</string>
	<string>spinner_38</string>
	<string>spinner_39</string>
	<string>spinner_40</string>
	<string>spinner_41</string>
	<string>spinner_42</string>
	<string>spinner_43</string>
	<string>spinner_44</string>
	<string>spinner_45</string>
	<string>spinner_46</string>
	<string>spinner_47</string>
	<string>spinner_48</string>
	<string>spinner_49</string>
	<string>spinner_50</string>
	<string>spinner_51</string>
	<string>spinner_52</string>
	<string>spinner_u21_1</string>
	<string>spinner_u21_2</string>
	<string>spinner_u21_3</string>
	<string>spinner_u21_4</string>
	<string>spinner_u21_5</string>
	<string>spinner_u21_6</string>
	<string>spinner_u22_1</string>
	<string>spinner_u22_2</string>
	<string>spinner_u22_3</string>
	<string>spinner_u22_4</string>
	<string>spinner_u22_5</string>
	<string>spinner_u22_6</string>
	<string>spinner_u22_7</string>
	<string>spinner_u22_8</string>
	<string>spinner_u22_9</string>
	<string>spinner_u22_10</string>
	<string>spinner_u23_1</string>
	<string>spinner_u23_2</string>
	<string>spinner_u23_3</string>
	<string>spinner_u23_4</string>
	<string>spinner_u23_5</string>
	<string>spinner_u23_6</string>
	<string>spinner_u24_1</string>
	<string>spinner_u24_2</string>
	<string>spinner_u24_3</string>
	<string>spinner_u24_4</string>
	<string>spinner_u24_5</string>
	<string>spinner_u24_6</string>
	<string>spinner_u24_7</string>
	<string>spinner_u24_8</string>
	<string>spinner_u24_9</string>
	<string>spinner_u24_10</string>
	<string>spinner_u25_1</string>
	<string>spinner_u25_2</string>
	<string>spinner_u25_3</string>
	<string>spinner_u25_4</string>
	<string>spinner_u25_5</string>
	<string>spinner_u25_6</string>
	<string>spinner_u25_7</string>
	<string>spinner_u25_8</string>
	<string>spinner_u26_1</string>
	<string>spinner_u26_2</string>
	<string>spinner_u26_3</string>
	<string>spinner_u26_4</string>
	<string>spinner_u26_5</string>
	<string>spinner_u26_6</string>
	<string>spinner_u26_7</string>
	<string>spinner_u26_8</string>
	<string>spinner_u26_9</string>
	<string>spinner_u26_10</string>
	<string>spinner_u27_1</string>
	<string>spinner_u27_2</string>
	<string>spinner_u27_3</string>
	<string>spinner_u27_4</string>
	<string>spinner_u27_5</string>
	<string>spinner_u27_6</string>
	<string>spinner_u27_7</string>
	<string>spinner_u27_8</string>
	<string>spinner_u27_9</string>
	<string>spinner_u27_10</string>
	<string>spinner_u28_1</string>
	<string>spinner_u28_2</string>
	<string>spinner_u28_3</string>
	<string>spinner_u28_4</string>
	<string>spinner_u28_5</string>
	<string>spinner_u28_6</string>
	<string>spinner_u28_7</string>
	<string>spinner_u29_1</string>
	<string>spinner_u29_2</string>
	<string>spinner_u29_3</string>
	<string>spinner_u29_4</string>
	<string>spinner_u29_5</string>
	<string>spinner_u29_6</string>
	<string>spinner_u29_7</string>
	<string>spinner_u31_1</string>
	<string>spinner_u31_2</string>
	<string>spinner_u31_3</string>
	<string>spinner_u31_4</string>
	<string>spinner_u31_5</string>
	<string>spinner_u31_6</string>
	<string>spinner_u31_7</string>
	<string>spinner_u32_1</string>
	<string>spinner_u32_2</string>
	<string>spinner_u32_3</string>
	<string>spinner_u32_4</string>
	<string>spinner_u32_5</string>
	<string>spinner_u32_6</string>
	<string>spinner_u33_1</string>
	<string>spinner_u33_2</string>
	<string>spinner_u33_3</string>
	<string>spinner_u33_4</string>
	<string>spinner_u33_5</string>
	<string>spinner_u33_6</string>
	<string>spinner_u34_1</string>
	<string>spinner_u34_2</string>
	<string>spinner_u34_3</string>
	<string>spinner_u34_4</string>
	<string>spinner_u34_5</string>
	<string>spinner_u34_6</string>
	<string>spinner_u35_1</string>
	<string>spinner_u35_2</string>
	<string>spinner_u35_3</string>
	<string>spinner_u35_4</string>
	<string>spinner_u35_5</string>
	<string>spinner_u35_6</string>
	<string>spinner_u36_1</string>
	<string>spinner_u36_2</string>
	<string>spinner_u36_3</string>
	<string>spinner_u36_4</string>
	<string>spinner_u36_5</string>
	<string>spinner_u36_6</string>
	<string>spinner_u37_1</string>
	<string>spinner_u37_2</string>
	<string>spinner_u37_3</string>
	<string>spinner_u37_4</string>
	<string>spinner_u37_5</string>
	<string>spinner_u37_6</string>
	<string>spinner_u37_7</string>
	<string>spinner_u37_8</string>
	<string>spinner_u38_1</string>
	<string>spinner_u38_2</string>
	<string>spinner_u38_3</string>
	<string>spinner_u38_4</string>
	<string>spinner_u38_5</string>
	<string>spinner_u39_1</string>
	<string>spinner_u39_2</string>
	<string>spinner_u39_3</string>
	<string>spinner_u39_4</string>
	<string>spinner_u39_5</string>
	<string>spinner_u40_1</string>
	<string>spinner_u40_2</string>
	<string>spinner_u40_3</string>
	<string>spinner_u40_4</string>
	<string>spinner_u40_5</string>
	<string>spinner_u41_1</string>
	<string>spinner_u41_2</string>
	<string>spinner_u41_3</string>
	<string>spinner_u41_4</string>
	<string>spinner_u41_5</string>
	<string>spinner_u42_1</string>
	<string>spinner_u42_2</string>
	<string>spinner_u42_3</string>
	<string>spinner_u42_4</string>
	<string>spinner_u42_5</string>
	<string>spinner_u43_1</string>
	<string>spinner_u43_2</string>
	<string>spinner_u43_3</string>
	<string>spinner_u43_4</string>
	<string>spinner_u43_5</string>
	<string>spinner_u44_1</string>
	<string>spinner_u44_2</string>
	<string>spinner_u44_3</string>
	<string>spinner_u44_4</string>
	<string>spinner_u44_5</string>
	<string>spinner_u45_1</string>
	<string>spinner_u45_2</string>
	<string>spinner_u45_3</string>
	<string>spinner_u45_4</string>
	<string>spinner_u45_5</string>
	<string>spinner_u46_1</string>
	<string>spinner_u46_2</string>
	<string>spinner_u46_3</string>
	<string>spinner_u46_4</string>
	<string>spinner_u46_5</string>
	<string>spinner_u47_1</string>
	<string>spinner_u47_2</string>
	<string>spinner_u47_3</string>
	<string>spinner_u47_4</string>
	<string>spinner_u47_5</string>
	<string>spinner_u48_1</string>
	<string>spinner_u48_2</string>
	<string>spinner_u48_3</string>
	<string>spinner_u48_4</string>
	<string>spinner_u48_5</string>
	<string>spinner_u49_1</string>
	<string>spinner_u49_2</string>
	<string>spinner_u49_3</string>
	<string>spinner_u49_4</string>
	<string>spinner_u49_5</string>
	<string>spinner_u50_1</string>
	<string>spinner_u50_2</string>
	<string>spinner_u50_3</string>
	<string>spinner_u50_4</string>
	<string>spinner_u50_5</string>
	<string>spinner_u51_1</string>
	<string>spinner_u51_2</string>
	<string>spinner_u51_3</string>
	<string>spinner_u51_4</string>
	<string>spinner_u51_5</string>
	<string>spinner_u52_1</string>
	<string>spinner_u52_2</string>
	<string>spinner_u52_3</string>
	<string>spinner_u52_4</string>
	<string>spinner_u52_5</string>
	<string>spinner_u53_1</string>
	<string>spinner_u53_2</string>
	<string>spinner_u53_3</string>
	<string>spinner_u53_4</string>
	<string>spinner_u53_5</string>
	<string>spinner_u54_1</string>
	<string>spinner_u54_2</string>
	<string>spinner_u54_3</string>
	<string>spinner_u54_4</string>
	<string>spinner_u54_5</string>
</array>
</plist>
